body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root{
  min-height: 100vh;

	background: #dcfaff;
	background: -webkit-linear-gradient(to right, #e2d1fc, #dcfaff);
	background: linear-gradient(to right, #e2d1fc, #dcfaff);
}

img {
	height: 250px;
	object-fit: cover;
}

.carousel-item img{
  height: 80vh;
  object-fit:fill;
}